/* Whole document */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 80%;
    margin:0 auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

table {
  border-collapse: collapse;
  font-family: 'Menlo';
  font-size: 12px;
  width: 100%;
  display: block; 
  overflow-x: auto;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ced0ee;}

thead {
  border-bottom: 1px solid black;
  background: #FFFFFF;
}

th, td {
  padding: 10px;
  text-align: left;
}

code, pre {
  font-family: Menlo;
  background-color: #f2f2f2;
  font-size: 14px;
}

pre {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
